.new-post{
    padding: 16px;
    border: 1px solid #ccc;

}

.new-post header,
.posts header{
    margin-bottom" 20px;
}

.posts .post{
    padding-left: 10px;
    border-left: 3px solid #a12b24;
    margin-bottom: 30px;
}

.posts .post .info{
    color: #aaa;
    font-style: italic;
}
#navbarSupportedContent ul li a{
    display: inline-block;
}
